SQLALCHEMY_TRACK_MODIFICATIONS = False
SQLALCHEMY_RECORD_QUERIES = True
DEV_DATABASE_URI='mysql+mysqlconnector://username:password@host:port/database_name'
PROD_DATABASE_URI='mysql+mysqlconnector://username:password@host:port/database_name'
TEST_DATABASE_URI='mysql+mysqlconnector://username:password@host:port/database_name'